@model TestSaganenko.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TextPost" class="control-label"></label>
                <textarea asp-for="TextPost" class="form-control"></textarea>            
                <span asp-validation-for="TextPost" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value=@ViewBag.UserId />               
            </div>
            <div class="form-group" hidden>
                <label asp-for="TopicId" class="control-label"></label>
                <input asp-for="TopicId" class="form-control" value=@ViewBag.TopicId />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Topic" asp-action="Details" asp-route-id=@ViewBag.TopicId>Back to Topic</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
